html{
	padding-bottom: 40px; /* To clear the fixed "Back to Top" element  */
}	

body{
	font-family: 'Josefin Slab', serif;
	}

h1{
	text-align: center;
	font-size: 70px;
	color: white;
	background-image: url("pink_amsterdam.jpg");
	background-repeat: no-repeat;
	height: 220px;
	width: 100%;
	font-family: 'Amatic SC', cursive;
	margin: 0;
}

nav{
	text-align: center;
	margin: 30px;
}


.nav{
	margin: 1.3em;
	font-size: 50px;
	color: #7b9396; /* Grey */
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
}

a{
	color: #7b9396; /* Grey */
}

h3 a{
	font-size: 28px;
}

a:hover{
	color: red;
}

/* Top Images */

.amsterdam{
	width:50%;
}

.milan{
	float: right;
	width:50%;
}

#about{
	margin: 0; /* To give About section less margin to the other H2 headings*/
	padding: 10px;
} 


h3{
	margin-top: 7px;
}

h2{
	font-size: 30px;
	margin: 5px 0;
}

p{
	font-size: 20px;
}

.entry{
	padding: 20px; /* Stops diary entries collapsing into each other's blank space */
}

/* Itinerary timetable */


.itinerary{
	text-align: center;
	margin: 20px
}

.day{
	background-color: #8ee8f2; /*Bright Blue */
	display: inline-block;
	height: 112px;
	width: 190px;
	text-align: center;
	font-size: 20px;
	bottom: 10px;
	font-family: 'Amatic SC', cursive;
	margin: 2px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

/* Fixed "Back to Top" element */

.backtotop{
	bottom: 0;
	left: 70%;
	position: fixed;
	font-size: 25px;
	background-color: #8ee8f2; /*Bright Blue */
	padding: 6px;
	display: inline;
}

.right{
	float: right;
}

.left{
	float:left;
}

.ib{
	display: inline-block;
}

/* Image Styling */

.photos{
	text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 400px;
}


div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

